@import '@app/styles/constants.scss';


.root {
    margin-top: 40px;

    h2 {
        font-size: 24px;
        color: $dark-blue;

        span {
            font-weight: 700;
            color: $blue;
        }
    }
}