.header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    padding-inline: 0;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 100%;
}